
<body>
   
<div class="mynav">
	<div class="row">
		<div class="col-md-8">
			<img width="80" src="assets/image/1.jpg">
			<a id="title">MEDICAL ROBOTIC</a>
		</div>
		<div class="col-md-4 links">
			<div class="float-right">
			<a class="navlink" href="">Home</a>
      		<a class="navlink" href="#">Services</a>
      		<a class="navlink" href="#">Contact</a>
      		<a class="navlink" href="#">Our-vision</a>
     		<a class="navlink" href="#">Register</a>
      		</div>
		</div>
	</div>
</div>
<!-- ------------------------End Nav----------------------------- -->
<div class="new1 row" >
	<div class="col-md-6">
		<h4>Hello!</h4>
		<h6>You are here ...</h6>
		<p>we create medical robots for your<br>requirement. Look after your loving <br> differently abled lovings with the <br> help with our special robots. </p>	
	</div>
	<div class="col-md-6">
		<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-inner">
			  <div class="carousel-item active">
				<img src="assets/image/imag1.jpg" class="d-block w-100" alt="...">
			  </div>
			  <div class="carousel-item">
				<img src="assets/image/imag2.jpg" class="d-block w-100" alt="...">
			  </div>
			  <div class="carousel-item">
				<img src="assets/image/imag3.jpg" class="d-block w-100" alt="...">
			  </div>
			</div>
			<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
			  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			  <span class="visually-hidden">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
			  <span class="carousel-control-next-icon" aria-hidden="true"></span>
			  <span class="visually-hidden">Next</span>
			</a>
		  </div>


	</div>
</div>

 
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
	
	<div class="carousel-inner">
	  <div class="carousel-item active">
		<img src="assets/image/imag5.jpg" width="100%">
		<div class="carousel-caption d-none d-md-block">
		  <h5>Help your old parents with our robots: The place robots in healthcare</h5>
		  
		</div>
	  </div>
	 
	  
	</div>
	
	
  </div>



   
</body>
